body {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Current variable axes configuration to icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  font-size: inherit;
  line-height: inherit;
  vertical-align: bottom;
}


